<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *
        {
            background-color: rgb(26, 130, 130);
        }
        button
        {
            background-color: orange;
            border-radius: 5px;
        }
        button:hover
        {
            background-color: blueviolet;
            
        }
        h1
        {
           background-color: orange;
        }
        a
        {
            text-decoration:none;
            background-color: orange;
            color: white;
        }
            
    </style>
</head>
<body>
    <center>
        <h2>Hii Ra..</h2>
        <h2>Where are you..??</h2>
        <button><h2><a href="{% url 'pavan' %}">Lover Boy pavan</a></h2></button>
        <button><h2><a href="{% url 'Specific:uday' %}">Waste Fellow Uday</a></h2></button>
        <button><h2><a href="{% url 'Specific:venkatesh' %}">Tiger venkatesh</a></h2></button>


    </center>
    
</body>
</html>